<h2 class="page-header">Register</h2>

{{#each errors}}
    <div class="alert alert-danger">{{message}}</div>
{{/each}}

<form method="post">
    
    {{#each formModel.fields}}
        <div class="form-group">
            <label>{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}" name="{{name}}" value="{{lookup../form name}}" type="text">
        </div>
    {{/each}}

    <button type="submit" class="btn btn-default">Submit</button>
</form>